/*=========================== VISTA COMPUTADORA ==============================*/
/*=========================== ESTILOS GENERALES ==============================*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');
body{
  font-family: 'Roboto Condensed', sans-serif;
}
*{
  box-sizing: border-box;
}
img{
  display: block;
  max-width: 100%;
}
