/*------------------------VISTA COMPUTADORA-------------------*/
/*------------------------ESTILOS GENERALES-------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');
body{
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Poppins', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
ul, ol{
  padding: 0;
}
a:visited, a:link, a:focus, a:hover, a:active{
  list-style: none;
  text-decoration: none;
}
/* botones de las operaciones de las tablas */
.tablaBtnOp{
  border: none;
}
