/*------------------------ VISTA COMPUTADORA 1440px ------------------------*/
/*------------------------ ESTILOS VISTA EMPRESAS ------------------------*/
/********** EMPRESAS **********/
/* letras */
.ap-text-empresas{
  position: absolute;
  margin-top: -53%;
  margin-left: 8%;
  color: #efca2c;
  width: 85%;
  font-size: 40px;
  z-index: 99;
}
/* contenedor principal */
.ap-empresas{
  z-index: 99;
  margin-top: -320px;
}
/* card */
.ap-empresas .card{
  background-color: rgba(221, 224, 224);
  border: inherit;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,.7);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,.7);
  padding: 30px;
}
.ap-banner-empresas{
  padding: 0% 2%;
}
/* imagen */
.ap-empresas .card img{
  width: 81%;
}
/* carousel */
.carousel{
  margin: 9% 0%;
}
