<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>
<div class="row">
	<form id="apci_main_form" class="" action="<?php base_url()?>ValidarLogin" method="post" accept-charset="utf-8">
		<div class="col-lg-4 offset-lg-4">
			<div class="input_form">
				<input type="text" name="apci_apellidos">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-4 offset-lg-4">
			<div class="input_form">
				<input type="text" name="apci_apellidos">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-4 offset-lg-4">
			<div class="input_form">
				<input type="email" name="apci_email">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-4 offset-lg-4">
			<div class="input_form">
				<input type="password" name="apci_password">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-4 offset-lg-4">
			<div class="input_form">
				<input type="password" name="apci_password2">
			</div>
		</div>
		<input type="submit" class="btn btn-outline-dark" value="Aceptar">
	</form>
</div>
</body>
</html>
